<header>
    <a href="/">Home Page</a>
    <a href="/home/secret">Secret Page</a>
    <a href="/home/login">Login Page</a>
    <a href="/home/register">Register Page</a>
    <a href="/home/logout">Logout</a>
</header>

<h1>Secret Page</h1>
