<header>
    <a href="/">Home Page</a>
    <a href="/home/secret">Secret Page</a>
    <a href="/home/login">Login Page</a>
    <a href="/home/register">Register Page</a>
    <a href="/home/logout">Logout</a>
</header>

<h1>Login</h1>

<form action="/Home/Login" method="post">
    <input type="text" name="username" value="" placeholder="Username">
    <input type="text" name="password" value="" placeholder="Password">
    <button type="submit">Login</button>
</form>
