<head>
    <title>Javascript Client</title>
</head>

<header>
    <a href="/">Home Page</a>
    <a href="/home/signin">SignIn Page</a>
</header>

<h1>Home Page</h1>

<button onclick="signIn()">Sign In</button>

<div>
    <button onclick="callApi()">Call Api</button>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/oidc-client/1.10.1/oidc-client.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"></script>
<script src="~/main.js"></script>