<header>
    <a href="/">Home Page</a>
    <a href="/home/signin">SignIn Page</a>
</header>

<h1>SignIn Page</h1>

<script src="https://cdnjs.cloudflare.com/ajax/libs/oidc-client/1.10.1/oidc-client.min.js"></script>

<script>
    const userManager = new Oidc.UserManager({
        userStore: new Oidc.WebStorageStateStore({ store: window.localStorage }),
        response_mode: "query"
    });

    userManager.signinCallback().then(res => {
        console.log(res);

        window.location.href = "/";
    });
</script>